<div class="row">
	<div class="col-sm-6 col-md-4 col-md-offset-4">
		<h1 class="text-center login-title">
			Login to Admin Panel
		</h1>
		<div class="account-wall">
			<form action="" class="form-signin" ng-submit="login()">
				<div ng-show="invalidLogin" class="alert alert-danger">Invalid username/password</div>
				<input type="text" class="form-control" placeholder="Username" ng-model="credentials.username" ng-required="true" />
				<input type="password" class="form-control" placeholder="Password" ng-model="credentials.passowrd" ng-required="true" />
				<button class="btn btn-lg btn-primary btn-block" type="submit">{{ buttonText }}</button>
			</form>
		</div>
	</div>
</div>