<!doctype html>
<html lang="en" ng-app="spBlogger">
<head>
    <meta charset="utf-8">
    <base href="/">
    <title>The Single Page Bloggler</title>
    <!-- build:css app/built/app.min.css  -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="modules/posts/css/posts.css"/>
    <!-- endbuild  -->
</head>
<body>
    <div class="container">
        <br>
        <div class="jumbotron text-center">
            <h1>{{ 'TITLE' | translate }}</h1>
            <p>{{ 'SUBTITLE' | translate }}</p>
            <div class="btn-group btn-toggle">
                <button class="btn btn-xs btn-default" ng-class="{ en: 'active' }[languagePreference.currentLanguage]" ng-click="languagePreference.switchLanguage('en')">English</button>
                <button class="btn btn-xs btn-default" ng-class="{ es: 'active' }[languagePreference.currentLanguage]" ng-click="languagePreference.switchLanguage('es')">Español</button>
            </div>
        </div>
        <div ui-view></div>
        <br><hr>
        <div class="row footer">
            <div class="col-xs-12 text-center">
                <p>The Single Page Blogger <span app-version></span></p>
                <div hello-world></div>
            </div>
        </div>
    </div>

</body>
    <!-- build:js app/built/app.min.js  -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src='lib/angular/angular-ui-router.js'></script>
    <script src='lib/angular/angular-resource.js'></script>
    <script src='lib/angular/angular-translate.js'></script>
    <script src='lib/angular/angular-cookies.js'></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="modules/posts/postModule.js"></script>
    <script src="modules/posts/js/services.js"></script>
    <script src="modules/posts/js/controllers.js"></script>
    <script src="modules/posts/js/filters.js"></script>
    <script src="modules/posts/js/directives.js"></script>
    <script src="modules/admin/adminModule.js"></script>
    <script src="modules/admin/js/services.js"></script>
    <script src="modules/admin/js/controllers.js"></script>
    <script src="modules/admin/js/filters.js"></script>
    <script src="modules/admin/js/directives.js"></script>
    <!-- endbuild  -->
</html>
