<div class="row">
	<div class="col-xs-12">
		<h3>{{ 'COMMENTS' | translate }}</h3>
		<br>
		<textarea cols="40" rows="5" class="form-control" ng-model="comment.content" placeholder="Type your comment here"></textarea>
		<br>
		{{ 'BY' | translate }}: <input type="text" ng-model="comment.author" class="form-control" placeholder="Type ypur name here">
		<br>
		<input type="submit" value="{{ 'ADD' | translate }}" ng-click="saveComment()" class="form-control btn-success small-button">
		<hr>
		<div class="comments-list">
			<div class="single-comment" ng-repeat="comment in postInstance.comments">
				<spb-comment comment="comment"></spb-comment>
			</div>
		</div>
	</div>
</div>