<div class="panel panel-default">
	<div class="media panel-body">
		<div class="media-left">
			<a href="#">
				<span class="glyphicon glyphicon-user media-object" aria-hidden="true"></span>	
			</a>
		</div>
		<div class="media-body">
			<span class="pull-right close" ng-click="deleteComment()">x</span>
			<h6 class="media-heading">
				{{ comment.content }}
			</h6>
			<span style="color:#999;">
				{{ 'BY' | translate }}: <span>{{ comment.author }}</span> |
				On: <span>{{ comment.datePublished | date:'MM-dd-yy'}}</span>
			</span>
		</div>
	</div>
</div>