<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<span class="pull-right close" ng-click="closePost()">x</span>
		<h1>{{ singlePost.title }}</h1>
		<h5>{{ 'BY' | translate }}: {{ singlePost.author }} | {{ singlePost.datePublished | date:'MM-dd-yy' }}</h5>
		<div class="postContent">
			{{ singlePost.content }}
		</div>

		<div class="comments">
			<spb-comments post-instance="singlePost"></spb-comments>
		</div>
	</div>
</div>